* {
  box-sizing: border-box;
  font-family: 'Comic Neue';
  }
  

#contenedor-gorros {
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 5;
}
#contenedor-gorros::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  background-size: cover;
}

#lista-gorros {
  display: flex;
  width: 2000px;
  height: 500px;
}

#lista-gorros img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  transition: 2s;
}

#lista-gorros img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%)
}

#contenedor-bufandas {
  justify-content: center;
  align-items: center;
  display: none;
}
.icono{
margin-left: 20px;
  height: 40px;
  cursor: pointer;

}
.contenedor-iconos{
  display:flex;
}
#lista-bufandas {  
  display: flex;
  width: 2000px;
  height: 500px;
}

#lista-bufandas img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  transition: 2s;
}

#lista-bufandas img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%)
}

#contenedor-cuellos {
  justify-content: center;
  align-items: center;
  display: none;
}

#lista-cuellos {
  display: flex;
  width: 2000px;
  height: 500px;
}

#lista-cuellos img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  transition: 2s;
}

#lista-cuellos img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%)
}

#contenedor-bolsos {
  justify-content: center;
  align-items: center;
  display: none;
}

#lista-bolsos {
  display: flex;
  width: 2000px;
  height: 500px;
}

#lista-bolsos img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  transition: 2s;
}

#lista-bolsos img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%)
}

#formulario-pedido {
  justify-content: center;
  align-items: center;
  display: none;
  height: 500px;
}

header {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #a2409f;
  color: #e6e6fa;
  height: 150px;
  border-bottom: solid #a9a9a9;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.titulo {
  font-weight: bold;
  width: 800px;
  margin-left: 60px;
  height: 50px;
  justify-content: center;
  display: flex;
  
}

#contenedor-botones{
  display: flex;
  flex-direction: column; 
  margin-top: 30px;
  margin-left: 260px;
  justify-content: left;
  
}

.botoningreso {
  background-color: #f8fffd;
  height: 30px;
  border-color: #848482;
  border-radius: 8px;
  font-weight: bolder;
  cursor: pointer;
  width: 150px;
  font-size: 20px;
}

.botonregistro {
  background-color: #f8fffd;
  height: 30px;
  border-color: #848482;
  border-radius: 8px;
  font-weight: bolder;
  cursor: pointer;
  width: 150px;
  margin-top: 10px;
  font-size: 20px;
}

nav {
  background-color: transparent;
  display: flex;
  justify-content: center;

}

ul {
  cursor: pointer;
  flex-direction: row;
  display: flex;
  margin-top: -50px;
  margin-left: 145px;
  list-style: none;
}

li {
  border-radius: 20px;
  background-color: #ee82ee;
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center;
    
}

#contenedor-home {
  display: flex;
  flex-wrap: nowrap;
  height: 500px;
  background: url('./imagenes/lanas.jpg') no-repeat;

} 
  

aside {
  background-image: url(./imagenes/agujas-hilo-violeta-vista-superior.jpg);
  display: flex;
  flex-direction: column;
  flex: 60%;
  padding-left: 10%;
  padding-top: 10%;

}

section {
  background-color: transparent;
  align-content: center;
  flex: 40%;
  display: flex;
  justify-content: flex-end;
  width: 120px;
  background-image: url(./imagenes/agujas-hilo-violeta-vista-superior.jpg);
}


footer {
  display: flex;
  justify-content: center;
  background-color: #a2409f;
  height: 130px;
  border-bottom-left-radius: 25px;
  color: #e6e6fa;
  border-bottom-right-radius: 25px;
  flex-direction: column;
  align-items: center;
}

#foto {
  width: 350px;
    border-top-right-radius: 20px;
    margin-right: 1px;
}

.logo {
  height: 200px;
  border-radius: 200px;
  z-index: 1;
}

a {
  text-decoration: none;
  margin-top: 10px;
}

#formulario-registro {
  justify-content: center;
  align-items: center;  
  display: none;
  background-size: cover;
  background-image: url('./imagenes/agujas-lana-tejer-canasta.jpg');
  background-repeat: no-repeat;
  height: 500px;

}

#form-registro {
  display: flex;
  flex-direction: column; 
  margin-top: 49px;
  margin-left:900px;
  margin-bottom: 50px;  
  align-items: center;

}

input {
  margin-bottom: 30px;
}

#calificanos {

  color: azure;
  margin-bottom: 10px;

}

#formulario-calificanos {
  justify-content: center; 
  align-items: center;
  display: none;
  height: 500px;
  background-size: cover;
  background-image: url('./imagenes/bolas-multicolores-hilo-cerca-sofa-punto.jpg');
}
#form-calificanos {
  display: flex;
  flex-direction: column; 
  margin-top: 49px;
  margin-right:500px;
  margin-bottom: 50px;  
  align-items: center;
  color: white;

}

label{
  font-size: 20px;
}