
*{
  box-sizing: border-box;
  font-family: 'Comic Neue';
}
  #contenedor-gorros {    
    display:none;
  }

  #lista-gorros{
    display: flex;
    width: 1000px;
    height: 500px;
  }
  #lista-gorros img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
    transition: 2s;
  }
  #lista-gorros img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter:contrast(120%)
  }  
  #contenedor-bufandas {
    display:none;
  }
  #lista-bufandas{
    display: flex;
    width: 1000px;
    height: 500px;
  }
  #lista-bufandas img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
    transition: 2s;
  }
  #lista-bufandas img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter:contrast(120%)
  }  
  #contenedor-cuellos {
    display:none;
  }
  #lista-cuellos{
    display: flex;
    width: 1000px;
    height: 500px;
  }
  #lista-cuellos img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
    transition: 2s;
  }
  #lista-cuellos img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter:contrast(120%)
  }  
  #formulario{
      display: none;
  }
  header{    
    display: flex;
    flex-direction: row;
    background-color:#a2409f;
    color: #e6e6fa;
    height: 150px;
    border-bottom: solid #a9a9a9 ;
    border-top-left-radius:25px ;
    border-top-right-radius:25px ;
  }
  .titulo{
    font-weight: bold;
    width: 200px;
    margin-left: 25%;
    height: 50px;
    margin-top: 55px;
}
.botoningreso{
    background-color: #f8f8ff ;
    height: 30px;
    border-color: #848482;
    border-radius:  8px;
    font-weight: bolder;
    cursor:pointer;
    margin-left: 10%;
    margin-top: 55px;
    width: 150px;
    font-size: 20px;
}
  nav{
    background-color: #e6e6fa;
    display: flex;
    justify-content: center;
   
  }
  ul{
    cursor:pointer;
    flex-direction: row ;
    display: flex;
    margin-top: -22px;
    list-style:none;
  }
  li{
    border-radius:  20px;
    background-color:#ee82ee;
    height: 40px;
    width: 150px;
    display:flex;
    justify-content: center;
  }
  
  #contenedor-home{
      display: flex;
      flex-wrap: nowrap;

  }
  aside{
      background-color: #e6e6fa;
      display: flex;
      flex-direction: column;
      flex:60%;
      padding-left: 10%;
      padding-top: 10%;
   
  }
  section{
      background-color: #e6e6fa;
      align-content: center;
      flex:40%;
      display:flex;
      justify-content: flex-end;
      
  }
  footer{
    display: flex;
    justify-content: center;    
    background-color: #a2409f;
    height: 94px;
    border-bottom-left-radius:25px ;
    color: #e6e6fa;
    border-bottom-right-radius:25px ;
  }
  #foto{
      width: 300px;
  }
  .logo{
    height: 200px;
    border-radius: 200px ;
    z-index: 1;
}
a{
    text-decoration: none;
  margin-top: 10px;
}