* {
  box-sizing: border-box;
  font-family: "Comic Neue";
}

.bg-light {
  background-color: #a2409f;
}
.titulo {
  margin-top: 22px !important;
}
#contenedor-gorros {
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 5;
}
#contenedor-gorros::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-size: cover;
}

#lista-gorros {
  display: flex;
  width: 100%;
  height: 300px;
}

#lista-gorros img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  transition: 2s;
}

#lista-gorros img:hover {
  cursor: crosshair;
  width: 20%;
  opacity: 1;
  filter: contrast(120%);
}

#contenedor-bufandas {
  display: none;
}
.icono {
  margin-left: 20px;
  height: 40px;
  cursor: pointer;
}
.contenedor-iconos {
  display: flex;
}
#lista-bufandas {
  display: flex;
  width: 100%;
  height: 300px;
}

#lista-bufandas img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  transition: 2s;
}

#lista-bufandas img:hover {
  cursor: crosshair;
  width: 20%;
  opacity: 1;
  filter: contrast(120%);
}

#contenedor-cuellos {
  justify-content: center;
  align-items: center;
  display: none;
}

#lista-cuellos {
  display: flex;
  width: 100%;
  height: 300px;
}

#lista-cuellos img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  transition: 2s;
}

#lista-cuellos img:hover {
  cursor: crosshair;
  width: 20%;
  opacity: 1;
  filter: contrast(120%);
}

#contenedor-bolsos {
  justify-content: center;
  align-items: center;
  display: none;
  overflow-y: scroll;
  height: 837px;
}

#lista-bolsos {
  display: flex;
  width: 100%;
  height: 300px;
}

#lista-bolsos img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  transition: 2s;
}

#lista-bolsos img:hover {
  cursor: crosshair;
  width: 20%px;
  opacity: 1;
  filter: contrast(120%);
}

#formulario-pedido {
  justify-content: center;
  align-items: center;
  display: none;
  height: 500px;
}

header {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #a2409f;
  color: #e6e6fa;
  height: 150px;
  border-bottom: solid #a9a9a9;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.botones {
  margin-top: 20px;
}

#contenedor-botones {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 260px;
  justify-content: left;
}

.botoningreso {
  background-color: #f8fffd;
  border-color: #848482;
  border-radius: 8px;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 12px;
  font-size: 20px;
}

.botonregistro {
  background-color: #f8fffd;
  border-color: #848482;
  border-radius: 8px;
  font-weight: bolder;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 12px;
  font-size: 20px;
  align-items: center;
}

#contenedor-home {
  display: flex;
  flex-wrap: nowrap;
  background: url("../imagenes/lanas.jpg") no-repeat;
}
.disabled-link {
  color: gray;
  cursor: not-allowed;
  pointer-events: none;
}
.contenedor-spinner {
  display: none;
  height: 837px;
  justify-content: center;
  align-items: center;
}
aside {
  background-image: url("../imagenes/agujas-hilo-violeta-vista-superior.jpg");
  display: flex;
  flex-direction: column;
  flex: 60%;
  padding-left: 10%;
  padding-top: 10%;
}

section {
  background-color: transparent;
  align-content: center;
  flex: 40%;
  display: flex;
  justify-content: flex-end;
  width: 120px;
  background-image: url(../imagenes/agujas-hilo-violeta-vista-superior.jpg);
}

footer {
  display: flex;
  justify-content: center;
  background-color: #a2409f;
  height: 130px;
  border-bottom-left-radius: 25px;
  color: #e6e6fa;
  border-bottom-right-radius: 25px;
  flex-direction: column;
  align-items: center;
}

#foto {
  height: 430px;
  border-top-right-radius: 20px;
  margin-right: 1px;
  margin-top: 29px;
}

.logo {
  height: 166px;
  border-radius: 200px;
  z-index: 1;
}

a {
  text-decoration: none;
  margin-top: 10px;
}
.contenedores {
  margin-top: -24px;
}
#formulario-registro {
  align-items: center;
  display: none;
  background-size: cover;
  background-image: url("../imagenes/agujas-lana-tejer-canasta.jpg");
  background-repeat: no-repeat;
  height: 837px;
}

#formulario-ingreso {
  justify-content: center;
  align-items: center;
  display: none;
  background-size: cover;
  background-image: url("../imagenes/bolas-lana.jpg");
  background-repeat: no-repeat;
  height: 837px;
}

#form-registro {
  display: flex;
  flex-direction: column;
  margin-top: 49px;
  margin-bottom: 50px;
  align-items: center;
}

input {
  margin-bottom: 30px;
}

#calificanos {
  color: azure;
  margin-bottom: 10px;
}

#formulario-calificanos {
  justify-content: flex-start;
  align-items: center;
  display: none;
  height: 500px;
  background-size: cover;
  object-fit: contain;
  background-image: url("../imagenes/bolas-multicolores-hilo-cerca-sofa-punto.jpg");
}
#form-calificanos {
  display: flex;
  flex-direction: column;
  margin-top: 49px;
  margin-bottom: 50px;
  align-items: center;
  color: white;
}

label {
  font-size: 20px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-container {
  background-color: #a2409f;
  height: 120px;
  margin-top: 22px;
}

.navbar-collapse {
  text-align: center;
  background-color: #a2409f;
}
li {
  color: white !important;
}

.navbar-nav .nav-link .active {
  color: #e6e6fa !important;
}

.navbar-brand {
  color: #f8fffd !important;
  margin-top: 10px;
  margin-left: 10px;
}

.list-group-item {
  background-color: transparent !important;
  border: none !important;
}
.list-group-item:hover {
  opacity: 1;
}
.navbar.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.footer.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.articulos {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}
.iconoEliminar {
  height: 32px;
  cursor: pointer;
}
.guardar {
  opacity: 0.5;
  pointer-events: none;
}
.usuarios {
  display: none !important;
}
#tabla_usuarios {
  display: none;
}
